@use "global" as *;

.page-blog__inner {
  max-width: rem(560);
}
.page-blog__body {
  @include mq {
    display: flex;
    justify-content: space-between;
    gap: rem(40);
  }
}

.page-blog__pagination,
.page-blog__pagination-single {
  display: flex;
  justify-content: center;
  margin-top: rem(80);
}
.page-blog__pagination-single {
  margin-top: rem(36);

  @include mq {
    margin-top: rem(78);
  }
}

.page-blog__left-side {
  width: 100%;

  @include mq {
    width: 65.37%;
  }
}
.page-blog__cards {
  width: 100%;
  margin-inline: auto;
  padding-left: rem(6);
  padding-right: rem(6);

  @include mq {
    padding: 0;
  }
}

.page-blog__right-side {
  width: rem(294);
  margin-top: rem(80);
  margin-inline: auto;

  @include mq {
    flex-shrink: 0;
    margin-top: initial;
    margin-inline: initial;
  }
}

// * 個別ページ
.page-blog__article {
  width: 100%;
  max-width: rem(600);
  margin-inline: auto;

  @include mq {
    max-width: none;
  }
}

.page-blog__date {
  color: $cGreen01;
  font-size: rem(14);
}

.page-blog__title {
  margin-top: rem(4);
  border-bottom: 1px solid $cGreenAccent;
  color: $cGreen01;
  font-weight: $medium;
  font-size: rem(24);

  @include mq {
    font-size: rem(32);
  }
}

.page-blog__image {
  aspect-ratio: 345 / 231;
  margin-top: rem(22);

  @include mq {
    margin-top: rem(35);
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.page-blog_content {
  * {
    max-width: 100%;
  }

  h2 {
    font-size: rem(16);
    font-weight: $medium;
    padding-top: rem(8);
    padding-bottom: rem(8);
    padding-left: rem(8);
    @include mq {
      padding-left: rem(14);
      font-size: rem(22);
    }
  }
  h3 {
    margin-top: rem(40);
    color: $black;
    font-size: rem(18);
    font-weight: $medium;
    padding-bottom: rem(8);
    padding-left: rem(13);
    @include mq {
      margin-top: rem(72);
    }
  }
  p {
    margin-top: rem(27);

    @include mq {
      margin-top: rem(40);
    }
  }
  ul,
  ol {
    margin-top: rem(24);

    @include mq {
      margin-top: rem(40);
    }
    li {
      padding-left: rem(27);
      background-image: url("../images/common/list-style-green.svg");
      background-position: top left;
      background-repeat: no-repeat;
    }
    li:not(:first-of-type) {
      margin-top: rem(4);
    }

    // li::marker {
    //   color: $cNavy02;
    // }
  }
  a {
    text-decoration: underline;
    color: #0072bc;
  }
}
