@use "global" as *;

.pagination__body {
  display: flex;
  gap: rem(12);
}
.pagination__prev,
.pagination__next {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $cGreenAccent;
  background-color: $white;
  color: $cGreenAccent;
  font-weight: $bold;
  font-size: rem(16);
  line-height: 1;
  font-family: $second-font-family;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}
.pagination__prev:hover,
.pagination__next:hover {
  opacity: 0.95;
  background-color: $cGreenAccent;
  color: $white;
  cursor: pointer;
}
.pagination__prev {
  margin-right: rem(35);
}
.pagination__next {
  margin-left: rem(35);
  @include mq {
    margin-right: rem(32);
  }
}
.pagination__prev span,
.pagination__next span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  width: 30%;
  height: 30%;
  border-top: 1px solid $cGreenAccent;
  border-right: 1px solid $cGreenAccent;
  transition: opacity 0.3s, border-color 0.3s;
}
.pagination__prev:hover span,
.pagination__next:hover span {
  opacity: 0.95;
  border-color: $white;
}
.pagination__prev span {
  transform: translate(-25%, -50%) rotate(-135deg);
}
.pagination__next span {
  transform: translate(-75%, -50%) rotate(45deg);
}
